<body>
  <div class="container" style="background-color: antiquewhite;">

  </div>
  <div class="jumbotron">
    <div class="container">
      <img class="img-responsive" src="./assets/images/fist-five.jpg" style="height: 100px; float: right;">
      <img class= "img-responsive" src = "./assets/images/history-of-shonen-jump.jpg" style="height: 120px; float: right;">
     <img class="img-responsive" src="./assets/images/issue36-37.jpg" style="height: 120px; float: right;">
      <h1>manga finder</h1>
      <h2 class="mt-3 text-center animate__animated animate__bounce slower"
       style="color: maroon; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
       <strong></strong></h2>
      <h2 class="mt-3 text-center animate__animated animate__bounce slower"
      style="color: darkslategray; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      <strong> </strong></h2>
  <h2 class="mt-3 text-center animate__animated animate__bounce slower" style="color: maroon; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><strong>manga and anime </strong></h2>
  <!--<h2 class="mt-3 text-center animate__animated animate__bounce slower" style="color: darkslategray; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><strong>Avengers Universe </strong></h2>-->
      <form id="connectionForm">

        <div class="form-group">
          <input type='text' name='manga-name' class="form-control" #manganame placeholder='enter manga'>
        </div>
        <button (click)="getMangaDetails(manganame.value)" type="submit" class='btn btn-primary'>get manga </button>
       </form>
    </div>
  </div>
  <div class="row bg-light mt-4 p-4" *ngIf="MangaData">
    <div class="col-sm-4">
      <div>
        <h3>{{ MangaData.Error }}</h3>
      </div>
      <div *ngIf="MangaData.Title">
        <img src="{{MangaData.image_url}}">
      </div>
    </div>
    <div class="col-sm-8">
      <div *ngIf="MangaData.Title">
        <h1>{{ MangaData.Title }}</h1>
        <h2> synopsis : {{ MangaData.synopsis}}</h2>
      </div>
    </div>
    <div class="col-sm-8">
      <div *ngIf="MangaData.Title">
        <h1>{{ MangaData.Title }}</h1>
        <h2> number of episodes : {{ MangaData.episodes }}</h2>
      </div>
    </div>
    <div class="col-sm-8">
      <div *ngIf="MangaData.Title">
        <h1>{{ MangaData.Title }}</h1>
        <h2> score : {{ MangaData.score}}</h2>
      </div>
    </div>
  </div>
  <div class="container" id="contentContainer">

    <div class="d-flex align-items-center" id="characterSpinnerSection"></div>
    <div class="d-flex align-items-center" id="comicsSpinnerSection"></div>

    <section id="characterSection"></section>

    <section id="comicSection"></section>
  </div>


  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  </body>

